# Enforce Unix newlines
* text=auto eol=lf

# Ignores for analysis is used to produce the language stats bar which displays the languages percentages
admin/plugins/* linguist-vendored=true
admin/docs/* linguist-vendored=true